name: CI
on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Build
        run: sbt dist
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'unnecessary'
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Copy zip to server with rsync
        run: rsync -avz target/universal/tijdloze-rocks-api-1.0-SNAPSHOT.zip ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/tijdloze-api/
      - name: Deploy on server
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd tijdloze-api
            rm -r tijdloze-rocks-api-1.0-SNAPSHOT
            unzip tijdloze-rocks-api-1.0-SNAPSHOT.zip
            sudo systemctl restart tijdloze-api.service
